#cloud-config
users:
  - name: ${username}
    groups: sudo
    shell: /bin/bash
    sudo: ["ALL=(ALL) NOPASSWD:ALL"]
    ssh_authorized_keys:
      %{~ for key in ssh_public_key ~}
      - ${key}
      %{~ endfor ~}      
package_update: true
package_upgrade: false
packages:
  - nginx
